<style>
  .add-ons-prdct {
    background: white;
    display: flex;
    border-radius: 8px;
    margin-top: 18px;
    padding: 16px;
    gap: 16px;
}
  .add-ons-prdct img {
    border-radius: 4px;
    overflow: hidden;
    max-width: 88px;
}
.add-ons-prdct span.push-btn-surface.w-full.outline-btn {
    padding: 1px 16px 5px;
    font-size: var(--base-font-size) !important;
    line-height: var(--base-line-height) !important;
    font-weight: var(--normal) !important;
    height: auto;
}
  .adds-ons-cntnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .pdp-off.base.normal.upsell {
    font-size: 14px;
    display: inline-block !important;
    margin: 0;
    line-height: 20px;
}
  .adds-ons-cntnt form {
    margin-top: 5px;
}
</style>

<div class="add-ons-wrap">
  {% if section.settings.p1 != blank %}
    {% comment %}{% assign p1 = all_products[section.settings.p1] %}{% endcomment %}
    {% if template.suffix == 'honey-ls' %}
      {% assign p1 = all_products['strawberry-lip-scrub'] %}
    {% else %}
      {% assign p1 = all_products['honey-lip-scrub'] %}
    {% endif %}
    <div class="add-ons-prdct">
      <div class="adds-ons-pimg">
        <img src="{{ p1.featured_image.src | img_url: '200x' }}" />
      </div>
      <div class="adds-ons-cntnt">
        <div>
          {% assign variant = p1.selected_or_first_available_variant %}
          {% assign vdiscount = 0 %}
          {% if variant.compare_at_price > variant.price %}
            {% assign discount2 = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round %}
            {% assign vdiscount = discount2 %}
          {% endif %}
          {% unless vdiscount == 0 %}
          <div class="pdp-off base normal upsell">{{ vdiscount }}% off</div>
          {% endunless %}
        <div class="base strong">{{ p1.title }}</div>
        {% render 'product_text', product: p1 %}
        <div class="base normal">{{ p1.price | money }}</div>
        </div>
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ p1.selected_or_first_available_variant.id }}" />
          {% render 'properties', product: p1 %}
          <button type="submit">
            <span class="push-btn-surface w-full outline-btn">
              Add to bag +
            </span>
          </button>
        </form>
      </div>
    </div>
  {% endif %}
  {% if section.settings.p2 != blank %}
    {% assign p2 = all_products[section.settings.p1] %}
    <div class="add-ons-prdct">
      <div class="adds-ons-pimg">
        <img src="{{ p2.featured_image.src | img_url: '200x' }}" />
      </div>
      <div class="adds-ons-cntnt">
        <div>
          {% assign variant = p2.selected_or_first_available_variant %}
          {% assign vdiscount = 0 %}
          {% if variant.compare_at_price > variant.price %}
            {% assign discount2 = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round %}
            {% assign vdiscount = discount2 %}
          {% endif %}
          {% unless vdiscount == 0 %}
          <div class="pdp-off base normal upsell">{{ vdiscount }}% off</div>
          {% endunless %}
        <div class="base strong">{{ p2.title }}</div>
        {% render 'product_text', product: p2 %}
        <div class="base normal">{{ p2.price | money }}</div>
        </div>
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ p2.selected_or_first_available_variant.id }}" />
          {% render 'properties', product: p2 %}
          <button type="submit">
            <span class="push-btn-surface w-full outline-btn">
              Add to bag +
            </span>
          </button>
        </form>
      </div>
    </div>
  {% endif %}
  {% comment %}
  {% if section.settings.p3 != blank %}
    {% assign p3 = all_products[section.settings.p3] %}
    <div class="add-ons-prdct">
      <div class="adds-ons-pimg">
        <img src="{{ p3.featured_image.src | img_url: '200x' }}" />
      </div>
      <div class="adds-ons-cntnt">
        <div>
          {% assign variant = p3.selected_or_first_available_variant %}
          {% assign vdiscount = 0 %}
          {% if variant.compare_at_price > variant.price %}
            {% assign discount2 = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | round %}
            {% assign vdiscount = discount2 %}
          {% endif %}
          {% unless vdiscount == 0 %}
          <div class="pdp-off base normal upsell">{{ vdiscount }}% off</div>
          {% endunless %}
        <div class="base strong">{{ p3.title }}</div>
          {% render 'product_text', product: p3 %}
        <div class="base normal">{{ p3.price | money }}</div>
        </div>
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ p3.selected_or_first_available_variant.id }}" />
          {% render 'properties', product: p3 %}
          <button type="submit">
            <span class="push-btn-surface w-full outline-btn">
              Add to bag +
            </span>
          </button>
        </form>
      </div>
    </div>
  {% endif %}
  {% endcomment %}
</div>