<style>
  .lp-footer {
    padding: 40px 0px;
    background: var(--strawberry-light);
  }  
  .lp-footer-logo{
    max-width: 172px;
    margin: auto;
  }
  .lp-footer .footer-bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .lp-footer ul.payment-icons.-mx-2{
    text-align: center;
  }
</style>
<div class="lp-footer">
  <div class="px-section overflow-hidden container">
    <div class="lp-footer-logo">
      <a href="/" class="">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 550.04 94.79">
          <defs>
            <style>
              .cls-1 {
                fill: #000;
                stroke-width: 0px;
              }
            </style>
          </defs>
          <g id="Laag_1" data-name="Laag 1">
            <g>
              <path class="cls-1" d="M13.72,0v25.52c.66-.77,1.44-1.55,2.32-2.32.89-.77,1.99-1.55,3.1-2.21,1.22-.66,2.54-1.22,4.2-1.66,1.55-.44,3.43-.66,5.42-.66,2.21,0,4.54.44,6.97,1.22,2.32.77,4.54,2.1,6.42,3.76,1.88,1.66,3.54,3.76,4.76,6.3,1.22,2.54,1.88,5.41,1.88,8.84v37.12h-13.72v-31.04c0-1.77-.11-3.43-.33-4.97-.22-1.55-.66-2.87-1.44-4.09-.66-1.22-1.77-2.1-3.21-2.87-1.44-.66-3.21-.99-5.53-.99s-4.31.33-5.75.99c-1.44.66-2.54,1.66-3.32,2.87-.77,1.22-1.33,2.54-1.55,4.09-.22,1.55-.33,3.2-.33,4.97l.22,31.04H0V0h13.72Z"></path>
              <path class="cls-1" d="M58.97,47.39c0-3.87.33-7.29,1.11-10.27.77-2.98,1.77-5.41,2.99-7.62,1.22-2.1,2.66-3.87,4.31-5.3,1.66-1.44,3.21-2.54,4.87-3.53,3.87-2.1,8.41-3.2,13.39-3.43,4.98.11,9.4,1.22,13.28,3.43,1.66.88,3.32,2.1,4.87,3.53,1.55,1.44,2.99,3.2,4.31,5.3,1.22,2.1,2.21,4.64,2.99,7.62.77,2.98,1.22,6.3,1.22,10.27s-.44,7.29-1.22,10.27c-.77,2.87-1.77,5.41-2.99,7.51-1.22,2.1-2.66,3.87-4.31,5.19-1.66,1.44-3.21,2.54-4.87,3.43-3.87,1.99-8.3,3.09-13.28,3.2-4.98,0-9.51-1.1-13.39-3.2-1.66-.88-3.32-1.99-4.87-3.43-1.66-1.44-2.99-3.09-4.31-5.19-1.22-2.1-2.21-4.64-2.99-7.51-.77-2.98-1.11-6.3-1.11-10.27ZM85.63,30.6c-2.77,0-4.98.55-6.75,1.66-1.66,1.1-2.99,2.54-3.87,4.2-.89,1.66-1.55,3.53-1.77,5.41-.22,1.88-.44,3.76-.44,5.41s.11,3.43.44,5.41c.33,1.99.89,3.76,1.77,5.41.89,1.66,2.21,3.09,3.87,4.2,1.66,1.1,3.87,1.66,6.75,1.66s4.98-.55,6.75-1.66c1.66-1.1,2.99-2.54,3.87-4.2.89-1.66,1.55-3.54,1.77-5.41.33-1.99.44-3.76.44-5.41s-.11-3.42-.44-5.41c-.33-1.99-.89-3.76-1.77-5.41-.89-1.66-2.21-3.09-3.87-4.2-1.66-1.1-3.87-1.66-6.75-1.66Z"></path>
              <path class="cls-1" d="M147.58,17.35h2.43c1.44,0,2.99.44,4.87.99,1.88.55,3.87,1.44,5.97,2.65,2.1,1.22,4.09,2.87,5.86,5.19,1.77,2.21,3.32,5.08,4.43,8.51,1.11,3.43,1.77,7.62,1.77,12.59v28.39h-13.72v-28.39c0-1.66-.11-3.31-.44-5.08-.33-1.77-.89-3.31-1.66-4.75-.77-1.44-1.99-2.65-3.54-3.53-1.55-.88-3.54-1.44-5.97-1.44s-4.43.44-5.97,1.44c-1.55.99-2.66,2.1-3.54,3.53-.77,1.44-1.44,2.98-1.66,4.75-.33,1.77-.44,3.43-.44,5.08v28.39h-13.72v-28.39c0-4.97.55-9.28,1.77-12.59,1.22-3.42,2.66-6.19,4.42-8.51,1.77-2.21,3.76-3.98,5.86-5.19,2.1-1.22,4.09-2.1,5.97-2.65,1.88-.55,3.54-.88,4.87-.99h2.43Z"></path>
              <path class="cls-1" d="M236.08,40.1c.11,1.1.33,2.32.44,3.53,0,1.22.22,2.43.22,3.87v1.99h-39.38c.11,1.33.33,2.54.55,3.87.22,1.33.55,2.65,1.11,3.87.77,1.99,2.1,3.65,3.87,5.19,1.77,1.55,4.09,2.21,7.19,2.21s5.53-.77,7.19-2.21c1.66-1.44,2.98-3.2,3.87-5.19h14.6c-.56,2.65-1.44,4.86-2.55,6.85-1.11,1.99-2.32,3.65-3.65,5.08-1.33,1.44-2.77,2.65-4.21,3.54-1.44.88-2.98,1.66-4.42,2.32-3.43,1.33-7.08,1.99-10.95,1.99-4.98,0-9.51-1.1-13.39-3.2-1.66-.88-3.32-1.99-4.87-3.43-1.66-1.44-2.99-3.09-4.31-5.19-1.22-2.1-2.21-4.64-2.99-7.51-.77-2.98-1.11-6.3-1.11-10.27s.33-7.29,1.11-10.27c.77-2.98,1.77-5.41,2.99-7.62,1.22-2.1,2.66-3.87,4.31-5.3,1.66-1.44,3.21-2.54,4.87-3.53,3.87-2.1,8.41-3.2,13.39-3.43,4.09.11,7.96.99,11.62,2.54,1.55.66,2.98,1.55,4.54,2.65,1.55,1.1,2.98,2.43,4.31,4.09,1.33,1.66,2.43,3.54,3.54,5.74.99,2.21,1.77,4.75,2.22,7.73l-.11.11ZM221.92,40.1c-.33-1.22-.89-2.43-1.44-3.65-.55-1.22-1.33-2.32-2.32-3.2-.99-.88-2.1-1.77-3.54-2.32-1.33-.55-2.88-.88-4.76-.88s-3.43.33-4.76.88c-1.33.55-2.54,1.33-3.54,2.32-1,.99-1.77,2.1-2.32,3.2-.55,1.1-1.11,2.43-1.33,3.65h24.01Z"></path>
              <path class="cls-1" d="M280.44,83.63c-.77,2.65-2.1,4.64-3.76,6.19-1.66,1.44-3.32,2.54-5.09,3.31-1.99.88-4.09,1.44-6.3,1.66h-17.81v-13.15h11.51c2.21,0,3.65-.33,4.53-.88.78-.55,1.33-1.22,1.55-1.99.22-.77.11-1.77-.22-2.87l-18.37-56.9h13.83l13.28,44.08,13.27-44.08h13.83l-20.36,64.74.11-.11Z"></path>
              <path class="cls-1" d="M321.93,30.05c1.33-3.2,2.88-5.52,4.87-7.29,1.99-1.77,3.87-2.98,5.75-3.76,2.21-.88,4.42-1.44,6.75-1.66,4.64.11,8.74,1.22,12.39,3.42,1.55.88,3.09,2.1,4.53,3.54,1.44,1.44,2.77,3.2,3.98,5.3,1.11,2.1,2.1,4.64,2.77,7.62.66,2.87,1.1,6.3,1.1,10.27s-.44,7.29-1.22,10.27c-.77,2.87-1.77,5.41-2.98,7.51-1.22,2.1-2.65,3.87-4.31,5.19-1.66,1.44-3.21,2.54-4.87,3.42-3.87,1.99-8.29,3.09-13.27,3.2-4.98,0-9.29-1.1-13.16-3.2-1.66-.88-3.32-1.99-4.87-3.42-1.55-1.44-2.99-3.09-4.21-5.3-1.22-2.21-2.21-4.64-2.98-7.62-.78-2.87-1.11-6.3-1.11-10.27V0h13.39v26.85l-2.43,3.2h-.11ZM337.42,64.19c2.76,0,4.98-.55,6.75-1.66,1.66-1.1,2.99-2.54,3.87-4.2.89-1.66,1.55-3.54,1.77-5.41.33-1.99.44-3.76.44-5.41s-.11-3.42-.44-5.41c-.33-1.99-.89-3.76-1.77-5.41-.88-1.66-2.21-3.09-3.87-4.2-1.66-1.1-3.87-1.66-6.75-1.66s-4.98.55-6.75,1.66c-1.66,1.1-2.99,2.54-3.98,4.2-.89,1.66-1.55,3.54-1.88,5.41-.33,1.99-.44,3.76-.44,5.41s.11,3.43.44,5.41c.33,1.99.89,3.76,1.88,5.41.89,1.66,2.21,3.09,3.98,4.2,1.77,1.1,3.87,1.66,6.75,1.66Z"></path>
              <path class="cls-1" d="M427.36,75.9h-13.39v-7.84l2.43-3.31c-1.33,3.2-2.88,5.52-4.87,7.18-1.99,1.66-3.87,2.87-5.75,3.65-2.22.77-4.43,1.33-6.75,1.44-4.64,0-8.74-1.1-12.39-3.2-1.55-.88-3.1-1.99-4.54-3.43-1.44-1.44-2.77-3.09-3.98-5.19-1.1-2.1-2.1-4.64-2.76-7.51-.66-2.98-1.11-6.3-1.11-10.27s.33-7.29,1.11-10.27c.77-2.98,1.77-5.41,2.98-7.62,1.22-2.1,2.65-3.87,4.31-5.3,1.66-1.44,3.21-2.54,4.87-3.53,3.88-2.1,8.41-3.2,13.39-3.43,4.76,0,8.74.66,12.06,2.1,3.32,1.44,5.97,3.43,8.19,5.97,2.1,2.54,3.65,5.74,4.64,9.39.99,3.76,1.44,7.95,1.44,12.59v28.28l.11.33ZM401.03,30.6c-2.77,0-4.98.55-6.75,1.66-1.66,1.1-2.99,2.54-3.88,4.2-.88,1.66-1.55,3.53-1.77,5.41-.33,1.99-.44,3.76-.44,5.41s.11,3.43.44,5.41c.33,1.99.89,3.76,1.77,5.41.89,1.66,2.22,3.09,3.88,4.2,1.66,1.1,3.87,1.66,6.75,1.66s4.98-.55,6.75-1.66c1.77-1.1,2.98-2.54,3.98-4.2.88-1.66,1.55-3.54,1.88-5.41.33-1.99.44-3.76.44-5.41,0-1.99-.11-3.98-.44-5.97-.33-1.99-.77-3.76-1.66-5.41-.89-1.66-2.1-2.87-3.88-3.87-1.77-.99-4.09-1.44-6.97-1.44h-.11Z"></path>
              <path class="cls-1" d="M451.81,0v75.9h-13.72V0h13.72Z"></path>
              <path class="cls-1" d="M499.49,47.39c0-1.66,0-3.31-.33-5.08-.22-1.77-.66-3.31-1.44-4.75-.77-1.44-1.88-2.65-3.43-3.53-1.55-.88-3.65-1.44-6.53-1.44s-4.98.44-6.53,1.44c-1.55.99-2.65,2.1-3.43,3.53-.77,1.44-1.22,2.98-1.44,4.75-.22,1.77-.33,3.43-.33,5.08v28.39h-13.72v-28.39c0-3.87.33-7.29,1.1-10.27.77-2.98,1.66-5.41,2.88-7.62,1.22-2.1,2.55-3.87,4.09-5.3,1.55-1.44,2.99-2.54,4.65-3.53,3.65-2.1,7.96-3.2,12.72-3.43,4.76.11,8.96,1.22,12.61,3.43,1.55.88,3.09,2.1,4.64,3.53,1.55,1.44,2.88,3.2,4.09,5.3,1.11,2.1,2.1,4.64,2.88,7.62.77,2.87,1.11,6.3,1.11,10.27v28.39h-13.72v-28.39h.11ZM536.44,47.39c0-1.66,0-3.31-.33-5.08-.22-1.77-.66-3.31-1.44-4.75-.77-1.44-1.88-2.65-3.43-3.53-1.55-.88-3.65-1.44-6.53-1.44s-4.98.44-6.53,1.44c-1.55.99-2.65,2.1-3.43,3.53-.78,1.44-1.22,2.98-1.44,4.75-.22,1.77-.33,3.43-.33,5.08v28.39h-13.72v-28.39c0-3.87.33-7.29,1.11-10.27.77-2.98,1.66-5.41,2.88-7.62,1.22-2.1,2.54-3.87,4.09-5.3,1.55-1.44,2.98-2.54,4.64-3.53,3.65-2.1,7.96-3.2,12.72-3.43,4.76.11,8.96,1.22,12.61,3.43,1.55.88,3.1,2.1,4.64,3.53,1.55,1.44,2.88,3.2,4.09,5.3,1.11,2.1,2.1,4.64,2.88,7.62.78,2.98,1.11,6.3,1.11,10.27v28.39h-13.72v-28.39h.11Z"></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="text-scheme-text md:flex justify-between section-content-top-margin container footer-bottom">
      <div class="{% if country_selector or locale_selector %}lg:w-1/3{% endif %}">
        <p class="text-sm base normal">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
      </div>
      {% unless shop.enabled_payment_types == empty %}
        <div class="{% if country_selector or locale_selector %}lg:w-1/3{% endif %}">
          <h2 class="visually-hidden">{{ 'layout.footer.accepted_payments' | t }}</h2>
          <ul class="payment-icons -mx-2 {% if country_selector or locale_selector %}lg:text-center{% endif %}">
            {% for type in shop.enabled_payment_types %}
              <li class="inline-block mx-2 w-8">
                {{ type | payment_type_svg_tag: class: 'icon payment-icon' }}
              </li>
            {% endfor %}
              <li class="inline-block mx-2 w-8">
                {{ 'klarna' | payment_type_svg_tag: class: 'icon payment-icon' }}
              </li>
          </ul>
        </div>
      {% endunless %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Landing Page Footer",
    "settings": []
  }
{% endschema %}