<section class="relative faq-content pad-mbl {{ section.id }} text-scheme-text bg-scheme-background overflow-hidden">

  <div class="section-content max-w-site mx-auto px-section relative z-10 py-section-vertical-spacing">
    <div class="heading2 strong">
      {{ section.settings.heading }}
    </div>
    <div class="faq-con base normal">
      {{ section.settings.text }}
    </div>
    {% if section.settings.btnlnk != blank %}
    <div class="heading-btn-wrap">
      <a href="{{ section.settings.btnlnk }}" class="push-btn">
      <span class="push-btn-surface w-full outline-btn">{{ section.settings.btntxt }} 
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
          <path d="M7.3125 1.21875C7.4375 1.0625 7.6875 1.0625 7.84375 1.21875L14.375 7.75C14.5312 7.90625 14.5312 8.125 14.375 8.28125L7.84375 14.8125C7.6875 14.9688 7.4375 14.9688 7.3125 14.8125L6.6875 14.2188C6.53125 14.0625 6.53125 13.8125 6.6875 13.6875L11.5312 8.8125H0.875C0.65625 8.8125 0.5 8.65625 0.5 8.4375V7.5625C0.5 7.375 0.65625 7.1875 0.875 7.1875H11.5312L6.6875 2.34375C6.53125 2.21875 6.53125 1.96875 6.6875 1.8125L7.3125 1.21875Z" fill="black"></path>
        </svg>
      </span>
      </a>
    </div>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Heading Content",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "html",
        "id": "text",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "btntxt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btnlnk",
        "label": "Button Link"
      }
    ],
  "presets": [
    {
      "name": "Heading Content"
    }
  ]
  }
{% endschema %}