<style>
  #shopify-section-{{section.id}}{
    background: var(--mint-light);
  }
</style>
<div class="spf-reason-lp-wrap py-section-vertical-spacing">
  <div class="container content_wrap">
    <div class="heading2 strong">{{ section.settings.title }}</div>
    <div class="base">{{ section.settings.text }}</div>
  </div>
  <div class="container">
  <div id="slideshow-{{ section.id }}" class="reason_slider splide">
    <div class="splide__track">
      <ul class="splide__list  w-full">
        {% for block in section.blocks %}
          <li class="reasons-slide splide__slide base-sm normal">
            <div class="slide_number heading2 strong new-spirit-md">0{{ forloop.index }}</div>
            <div class="heading3 strong">{{ block.settings.title }}</div>
            <div class="base normal">{{ block.settings.text }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="splide__arrows">
        <button class="hidden splide__arrow splide__arrow--prev push-btn" aria-label="Go to last slide" aria-controls="slideshow-template--22537684418896__ingredients_AibTHt-track">
          <span class="sr-only">Previous slide</span>
          <span class="align-bottom p-2">
            <span class="block w-5 h-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
              <path d="M15.5 19L8.5 12L15.5 5" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </span>
        </button><button class="splide__arrow splide__arrow--next push-btn" aria-label="Next slide" aria-controls="slideshow-template--22537684418896__ingredients_AibTHt-track">
          <span class="sr-only">Next slide</span>
          <!-- <span class="align-bottom p-2">
            <span class="block w-5 h-5"> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path d="M7.3125 1.21875C7.4375 1.0625 7.6875 1.0625 7.84375 1.21875L14.375 7.75C14.5312 7.90625 14.5312 8.125 14.375 8.28125L7.84375 14.8125C7.6875 14.9688 7.4375 14.9688 7.3125 14.8125L6.6875 14.2188C6.53125 14.0625 6.53125 13.8125 6.6875 13.6875L11.5312 8.8125H0.875C0.65625 8.8125 0.5 8.65625 0.5 8.4375V7.5625C0.5 7.375 0.65625 7.1875 0.875 7.1875H11.5312L6.6875 2.34375C6.53125 2.21875 6.53125 1.96875 6.6875 1.8125L7.3125 1.21875Z" fill="black"></path>
              </svg>
            <!-- </span>
          </span> -->
        </button>
      </div>
    <script class="slideshow-options" type="application/json">
      {
        "mediaQuery": "max",
        "arrows": true,
        "pagination": false,
        "perPage": 3,
        "gap": "1rem",
        "perMove": 1,
        "padding": {
                      "left": "0rem",
                      "right": "6rem"
                    },
       
        "breakpoints": {
          "990": {
            "autoScroll": true,
            "pagination": true,
            "perPage": 1,
            "perMove": 1,
            "padding": {
                          "left": "0rem",
                          "right": "2rem"
                        },
            "autoplay": false,
            "interval": 3000
          }
        }
      }
    </script>
  </div>
  </div>
  <div class="container btn-wrap">
    {%- if section.settings.btnlnk != blank and section.settings.btntxt != '' -%}
    <div class="mt-8">
      <a href="{{ section.settings.btnlnk }}" class="inline-block push-btn">
        <span class="push-btn-surface btn-arrow">{{ section.settings.btntxt }}
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
            <path d="M7.3125 1.21875C7.4375 1.0625 7.6875 1.0625 7.84375 1.21875L14.375 7.75C14.5312 7.90625 14.5312 8.125 14.375 8.28125L7.84375 14.8125C7.6875 14.9688 7.4375 14.9688 7.3125 14.8125L6.6875 14.2188C6.53125 14.0625 6.53125 13.8125 6.6875 13.6875L11.5312 8.8125H0.875C0.65625 8.8125 0.5 8.65625 0.5 8.4375V7.5625C0.5 7.375 0.65625 7.1875 0.875 7.1875H11.5312L6.6875 2.34375C6.53125 2.21875 6.53125 1.96875 6.6875 1.8125L7.3125 1.21875Z" fill="black"></path>
          </svg>
        </span>
      </a>
    </div>
    {%- endif -%}
  </div>
</div>

  <script src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}" type="module"></script>
  {{ 'modules-slideshow.bundle.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "SPF Reasons lp",
    "settings": [
      {
        "type": "html",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "btntxt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btnlnk",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SPF Reasons lp"
      }
    ]
  }
{% endschema %}